* {
  box-sizing: border-box;
  margin: 0;
}

#main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  width: 100vw;
  //   background-color: #333b3f;
  background-color: #e2e2e2;
  padding-bottom: 100px;
}

header {
  .lg-heading {
    padding: 5px 15;
    font-family: "Fugaz One", cursive;
    display: inline-block;
  }
  .navbar {
    position: relative;
    z-index: 1;
  }
}
.sm-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin: 10px auto;
  padding: 10px 30px;
}

// -------- aboutPage ------------------------------------
.aboutInfo,
.contactInfo {
  color: black;
  font-family: "Open Sans", sans-serif;

  h1 {
    line-height: 1.2em;
    letter-spacing: 0px;
    font-weight: 600;
    margin-bottom: 0.75em;
  }
  p {
    font-size: 1.2srem;
    line-height: 1.6em;
    letter-spacing: 0.5px;
    font-weight: 300;
  }

  .left,
  .right {
    vertical-align: top;
    height: 100%;
    padding: 10px;
    img {
      max-width: 100%;
    }
  }
}
// .signature {
//   // position: absolute;
//   // font-size: 0.8rem;
//   // right: 20px;
//   // bottom: 5px;
// }

// -------- contactPage ------------------------------------
.contactInfo {
  padding: 10px;
}
// -------- media queries ------------------------------------
@media screen and (max-width: 767px) {
  #main {
    padding-bottom: 100px;
  }
  header .lg-heading {
    font-size: 2rem;
  }
  .aboutInfo,
  .contactInfo {
    width: 90%;
    margin: 10px auto;

    .left,
    .right {
      display: block;
    }
    .left {
      width: 85%;
      margin: 0px auto;
    }
    .right {
      width: 100%;
    }
  }
  .signature {
    height: 30px;
    position: relative;
    bottom: 0;
    padding: 6px;
    text-align: center;
    background-color: #414141;
    color: white;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar-right {
    position: absolute;
    right: 2%;
  }
  header .lg-heading {
    font-size: 3rem;
  }
  .aboutInfo {
    width: 700px;
    margin: 60px auto;

    .left,
    .right {
      display: inline-block;
      width: 49.5%;
    }
  }
  .contactInfo {
    width: 70%;
    margin: 60px auto;
  }
  .signature {
    position: absolute;
    font-size: 0.8rem;
    right: 20px;
    bottom: 5px;
  }
}
